Options +FollowSymLinks
RewriteEngine on

RewriteRule data/1663$ https://smak.be/nl/collectie/de-smak-collectie/1663 [R=302,NC,NE,L]
RewriteRule data/1667$ https://smak.be/nl/collectie/de-smak-collectie/1667 [R=302,NC,NE,L]
RewriteRule data/1668$ https://smak.be/nl/collectie/de-smak-collectie/1668 [R=302,NC,NE,L]
RewriteRule data/1669$ https://smak.be/nl/collectie/de-smak-collectie/1669 [R=302,NC,NE,L]
RewriteRule data/6660$ https://smak.be/nl/collectie/de-smak-collectie/6660 [R=302,NC,NE,L]
RewriteRule data/1672$ https://smak.be/nl/collectie/de-smak-collectie/1672 [R=302,NC,NE,L]
RewriteRule data/3467$ https://smak.be/nl/collectie/de-smak-collectie/3467 [R=302,NC,NE,L]
RewriteRule data/6365$ https://smak.be/nl/collectie/de-smak-collectie/6365 [R=302,NC,NE,L]
RewriteRule data/1430$ https://smak.be/nl/collectie/de-smak-collectie/1430 [R=302,NC,NE,L]
RewriteRule data/1675$ https://smak.be/nl/collectie/de-smak-collectie/1675 [R=302,NC,NE,L]
RewriteRule data/3340$ https://smak.be/nl/collectie/de-smak-collectie/3340 [R=302,NC,NE,L]
RewriteRule data/1680$ https://smak.be/nl/collectie/de-smak-collectie/1680 [R=302,NC,NE,L]
RewriteRule data/1681$ https://smak.be/nl/collectie/de-smak-collectie/1681 [R=302,NC,NE,L]
RewriteRule data/1682$ https://smak.be/nl/collectie/de-smak-collectie/1682 [R=302,NC,NE,L]
RewriteRule data/2$ https://smak.be/nl/collectie/de-smak-collectie/2 [R=302,NC,NE,L]
RewriteRule data/6061$ https://smak.be/nl/collectie/de-smak-collectie/6061 [R=302,NC,NE,L]
RewriteRule data/6012$ https://smak.be/nl/collectie/de-smak-collectie/6012 [R=302,NC,NE,L]
RewriteRule data/6110$ https://smak.be/nl/collectie/de-smak-collectie/6110 [R=302,NC,NE,L]
RewriteRule data/6271$ https://smak.be/nl/collectie/de-smak-collectie/6271 [R=302,NC,NE,L]
RewriteRule data/1684$ https://smak.be/nl/collectie/de-smak-collectie/1684 [R=302,NC,NE,L]
RewriteRule data/9$ https://smak.be/nl/collectie/de-smak-collectie/9 [R=302,NC,NE,L]
RewriteRule data/14$ https://smak.be/nl/collectie/de-smak-collectie/14 [R=302,NC,NE,L]
